@tailwind base;
@tailwind components;
@tailwind utilities;

code {
	counter-reset: line;
}

code > [data-line]::before {
  counter-increment: line;
  content: counter(line);

	width: 3.1rem;
	padding-right: 1rem;
	text-align: right;
	display: inline-block;
	background-color: #282c34;
	color: #495163;
	position: sticky;
	left: 0;
}

code[data-language] {
	font-family: 'Fira Code', Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
	font-size: 1rem;
}

code[data-language] > span[data-highlighted-line],
code[data-language] > span[data-highlighted-line]::before {
	background-color: #2c313c;
}
